.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 657px;
  overflow: hidden;
  background-color: yellow;
}

.main {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  background-color: cyan;
}

.left {
  flex: 1;
  background-color: green;
}

.content {
  flex: 4;
  background-color: red;
}

.navi-title {
  padding: 12px 0px;
  color: white;
  text-align: center;
  vertical-align: middle;
  background-color: #4F7AFD;
}

.sub-navi-title {
  padding: 12px 0px;
  color: white;
  text-align: center;
  background-color: #B0A8B9;
}


.gridContainer {
  display: grid;
  width: 100px;
  height: 100px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 12px;
  align-items: center;
  justify-items: center;
  place-content: stretch;
  /* place-items: stretch; */
  /* place-content: center; */
}

.box1 {
  background-color: cyan;
  border-radius: 2px;
  /* text-align: center;
  vertical-align: middle; */
}

.button {
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  background-color: #4F7AFD;
  text-align: center;
  font-size: 15px;
}

.modal {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}